{%- liquid

  
    assign on_sale = false
    if product.compare_at_price > product.price
      assign on_sale = true
    endif
  
    assign product_tags = product.tags | join: ','
    assign has_custom_label = false
    if product.metafields.theme.label and product.metafields.theme.label != blank
      assign has_custom_label = true
      assign custom_label = product.metafields.theme.label.value
    elsif product_tags contains '_label_'
      for tag in product.tags
        if tag contains '_label_'
          assign tag_starts_with = tag | slice: 0
          if tag_starts_with == '_'
            assign has_custom_label = true
            assign custom_label = tag | replace: '_label_', ''
          endif
        endif
      endfor
    endif
  -%}
  
  <div 
  
  data-product-url="{{ product.url }}"
  data-product-handle="{{ product.handle }}"
  data-section-type="product-template"
  data-section-id="{{ product.id }}"
  
  class="product-section grid__item grid-product medium-up--one-half {% if settings.quick_shop_enable %} grid-product__has-quick-shop{% endif %}" data-product-handle="{{ product.handle }}" data-product-id="{{ product.id }}">
    <div class="grid-product__content grid-product__content-cafe-bakery">
      {%- if has_custom_label -%}
        <div class="grid-product__tag grid-product__tag--custom">
          {{ custom_label }}
        </div>
      {%- else -%}
        {%- unless product.available -%}
          <div class="grid-product__tag grid-product__tag--sold-out">
            {{ 'products.product.sold_out' | t }}
          </div>
        {%- endunless -%}
        {%- if on_sale and product.available -%}
          <div class="grid-product__tag grid-product__tag--sale">
            {{ 'products.general.sale' | t }}
          </div>
        {%- endif -%}
      {%- endif -%}
  
      {%- liquid
        assign fixed_aspect_ratio = false
        unless settings.product_grid_image_size == 'natural'
          assign fixed_aspect_ratio = true
        endunless
  
        assign preview_image = product.featured_media.preview_image
        assign img_url = preview_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
      -%}
  
      <a href="{{ product.url | within: collection }}" class="grid-product__link">
        <div class="grid-product__image-mask">
          {%- if fixed_aspect_ratio -%}
            <div
              class="grid__image-ratio grid__image-ratio--{{ settings.product_grid_image_size }}">
              <img class="lazyload{% unless settings.product_grid_image_fill %} grid__image-contain{% endunless %}"
                  data-src="{{ img_url }}"
                  data-widths="[340, 540, 720, 900, 1080]"
                  data-aspectratio="{{ preview_image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ preview_image.alt | escape }}">
            </div>
          {%- else -%}
            <div class="image-wrap"
              style="height: 0; padding-bottom: {{ 100 | divided_by: preview_image.aspect_ratio }}%;"
              >
              <img class="grid-product__image lazyload"
                  data-src="{{ img_url }}"
                  data-widths="[340, 540, 720, 900, 1080]"
                  data-aspectratio="{{ preview_image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ preview_image.alt | escape }}">
              <noscript>
                <img class="grid-product__image lazyloaded"
                  src="{{ preview_image | img_url: '400x' }}"
                  alt="{{ preview_image.alt | escape }}">
              </noscript>
            </div>
          {%- endif -%}
        </div> 
        <div class="grid-product__meta">
            <div class="grid-product__info">
                <div class="grid-product__title">{{ product.title }}</div>
                {%- if settings.vendor_enable -%}
                  <div class="grid-product__vendor">{{ product.vendor }}</div>
                {%- endif -%}
                <div class="grid-product__price">
                    {{product.metafields.my_fields.price_info}}
                </div>
                <div class="grid-product__short-dsc">
                    {{product.metafields.my_fields.short_description}}
                </div>
            </div>
          {%- if settings.quick_shop_enable -%}
            <div class="quick-product__btn quick-product__btn--not-ready js-modal-open-quick-modal-{{ product.id }} small--hide">
              <span class="quick-product__label">Add to cart</span>
            </div>
          {%- endif -%}
        </div>
      </a>
    </div>
  
    {%- if settings.enable_product_reviews -%}
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    {%- endif -%}
    <div>
  
  </div>
  </div>
  
  <script>
     theme.CartDrawer = (function() {
      var selectors = {
        drawer: '#CartDrawer',
        form: '#CartDrawerForm'
      };
    
      function CartDrawer() {
        this.form = document.querySelector(selectors.form);
        this.drawer = new theme.Drawers('CartDrawer', 'cart');
    
        this.init();
      }
    
      CartDrawer.prototype = Object.assign({}, CartDrawer.prototype, {
        init: function() {
          this.cartForm = new theme.CartForm(this.form);
          this.cartForm.buildCart();
    
          document.addEventListener('ajaxProduct:added', function(evt) {
            this.cartForm.buildCart();
            this.open();
          }.bind(this));
    
          // Dev-friendly way to open cart
          document.addEventListener('cart:open', this.open.bind(this));
          document.addEventListener('cart:close', this.close.bind(this));
        },
    
        open: function() {
          this.drawer.open();
        },
    
        close: function() {
          this.drawer.close();
        }
      });
    
      return CartDrawer;
    })();   
  </script>