
  <div class="site-nav__icons"> 
    {%- if settings.search_enable -%}
    <a href="{{ routes.search_url }}" class="site-nav__link site-nav__link--icon js-search-header{% if section.settings.main_menu_alignment == 'center' or section.settings.main_menu_alignment == 'center-split' %} medium-up--hide{% endif %}">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-search" viewBox="0 0 64 64"><path d="M47.16 28.58A18.58 18.58 0 1 1 28.58 10a18.58 18.58 0 0 1 18.58 18.58zM54 54L41.94 42"/></svg>
      <span class="icon__fallback-text">{{ 'general.search.title' | t }}</span>
    </a>
  {%- endif -%} 
    <a class="site-nav__link site-nav__link--icon" href="/products/rise-ai-giftcard">
      <svg width="31px" height="21px" viewBox="0 0 31 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="shutterstock_1565123161" transform="translate(-366.000000, -669.000000)" fill="#000000">
                <g id="Group" transform="translate(366.070000, 669.766000)">
                    <path d="M22.8030543,4.70187217 L22.827319,4.72852941 C23.7422511,4.41580317 24.3677036,4.04687783 24.6875566,3.63049208 C24.9356335,3.30709276 24.9617647,3.06727941 24.9089932,2.96003959 C24.8604638,2.86114819 24.736086,2.84636878 24.6661765,2.84636878 C24.4968326,2.84636878 24.2942308,2.92630656 24.095871,3.07138575 C23.4480204,3.54638009 22.9854638,4.34772624 22.8030543,4.70187217 Z M22.6472851,5.42501131 L22.0803733,4.81561086 L22.1616516,4.63260747 C22.1857466,4.57871606 22.7626697,3.29648756 23.7375,2.58222285 C24.4014706,2.09597851 25.1945701,2.16704186 25.4528281,2.69178733 C25.6316742,3.05482466 25.5279977,3.53160068 25.1684389,4.00007919 C24.7515271,4.54260747 23.9650452,5.00273756 22.8302036,5.36641968 L22.6472851,5.42501131 L22.6472851,5.42501131 Z" id="Fill-1"></path>
                    <path d="M20.2113122,2.84636878 C20.1420814,2.84636878 20.0175339,2.86114819 19.9690045,2.9594457 C19.916233,3.06727941 19.9423643,3.30709276 20.1904412,3.63049208 C20.5102941,4.04687783 21.1352376,4.41580317 22.0501697,4.72852941 L22.0746041,4.70187217 C21.8910068,4.34772624 21.4277715,3.54464932 20.7816176,3.07138575 C20.583767,2.92630656 20.3806561,2.84636878 20.2113122,2.84636878 Z M22.2303733,5.42501131 L22.0472851,5.36641968 C20.9131222,5.00273756 20.1266403,4.54313348 19.7097285,4.00007919 C19.349491,3.53160068 19.2459842,3.05423077 19.4253394,2.69178733 C19.6835973,2.16763575 20.4753394,2.0965724 21.1399887,2.58222285 C22.1153281,3.29648756 22.6915724,4.57871606 22.7160068,4.63260747 L22.7971154,4.81561086 L22.2303733,5.42501131 L22.2303733,5.42501131 Z" id="Fill-2"></path>
                    <path d="M2.28727941,0.606414027 C0.664479638,0.606414027 0.60821267,2.40512443 0.606430995,2.48214367 L0.606430995,17.2156222 C0.60821267,17.2850226 0.673371041,19.0848529 2.28727941,19.0848529 L27.7104638,19.0848529 C29.3243213,19.0848529 29.3894796,17.2850226 29.3911765,17.2084955 L29.3911765,2.47557692 C29.3894796,2.40631222 29.3243213,0.606414027 27.7104638,0.606414027 L2.28727941,0.606414027 Z M27.7104638,19.6913009 L2.28727941,19.6913009 C0.518806561,19.6913009 0.0177658371,18.076086 0,17.2222398 L0,2.47557692 C0.0177658371,1.61502828 0.518806561,0 2.28727941,0 L27.7104638,0 C29.4789027,0 29.9799774,1.61502828 29.9976244,2.46907805 L29.9976244,17.2156222 C29.9799774,18.076086 29.4789027,19.6913009 27.7104638,19.6913009 L27.7104638,19.6913009 Z" id="Fill-3"></path>
                    <polygon id="Fill-4" points="0.303190045 5.3806052 29.6944005 5.3806052 29.6944005 4.7741233 0.303190045 4.7741233"></polygon>
                    <polygon id="Fill-5" points="22.1355204 19.3880769 22.7419683 19.3880769 22.7419683 0.30324095 22.1355204 0.30324095"></polygon>
                    <polyline id="Fill-6" points="24.5933824 7.67789593 21.8085407 4.89257919 22.2373303 4.46378959 25.0221719 7.24910633 24.5933824 7.67789593"></polyline>
                    <polyline id="Fill-7" points="20.2847851 7.67789593 19.8559955 7.24910633 22.6401584 4.46378959 23.068948 4.89257919 20.2847851 7.67789593"></polyline>
                    <polygon id="Fill-8" points="3.59258484 16.1459389 11.7088235 16.1459389 11.7088235 15.539491 3.59258484 15.539491"></polygon>
                    <polygon id="Fill-9" points="5.30718326 13.753405 10.0067477 13.753405 10.0067477 13.1467873 5.30718326 13.1467873"></polygon>
                </g>
            </g>
        </g>
      </svg>
      <span class="icon__fallback-text">Gift card</span>
    </a>
    <a href="{{ routes.cart_url }}" class="site-nav__link site-nav__link--icon js-drawer-open-cart" aria-controls="CartDrawer" data-icon="{{ settings.cart_icon }}">
      <div class="cart-link">
        <div class="cart-info">
          {%- if settings.cart_icon == 'cart' -%}
            <div class="cart-icon">
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-cart" viewBox="0 0 64 64"><path fill="none" d="M14 17.44h46.79l-7.94 25.61H20.96l-9.65-35.1H3"/><circle cx="27" cy="53" r="2"/><circle cx="47" cy="53" r="2"/></svg>
              {%- elsif settings.cart_icon == 'bag-minimal' -%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-bag-minimal" viewBox="0 0 64 64"><path stroke="null" id="svg_4" fill-opacity="null" stroke-opacity="null" fill="null" d="M11.375 17.863h41.25v36.75h-41.25z"/><path stroke="null" id="svg_2" d="M22.25 18c0-7.105 4.35-9 9.75-9s9.75 1.895 9.75 9"/></svg>
              {%- else -%}
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-bag" viewBox="0 0 64 64"><g fill="none" stroke="#000" stroke-width="2"><path d="M25 26c0-15.79 3.57-20 8-20s8 4.21 8 20"/><path d="M14.74 18h36.51l3.59 36.73h-43.7z"/></g></svg>           
            </div>
          {%- endif -%}
        <div class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}">{{ cart.item_count }}</div>
        </div>  
        <div class="icon__fallback-text">{{ 'layout.cart.title' | t }}</div>
      </div>
    </a>
  </div>

