

  <div class="page-width dtb-faqs {% if section.settings.background-color %}section--background-gray {% endif %}" id="direct-to-boot-faq"> 
    {%- if section.settings.title != blank -%}
        <h2 class="section-header__title text-center">
          {{ section.settings.title | escape }}
        </h2>
    {%- endif -%}
      <div class="grid justify-center">
        <div class="grid__item medium-up--one-half">
          {%- if section.blocks.size > 0 -%}
          {%- for block in section.blocks -%}
            <div {{ block.shopify_attributes }}>
                  <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question" class="faq-item">
                    <button type="button" class="collapsible-trigger collapsible-trigger--inline collapsible--auto-height text-left" aria-controls="FAQ-content-{{ block.id }}">
                      {%- render 'collapsible-icons-alt', no_circle: true -%}
                      <span itemprop="name">{{ block.settings.title }}</span>
                    </button>
                    <div id="FAQ-content-{{ block.id }}" class="collapsible-content collapsible-content--all" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                      <div class="collapsible-content__inner collapsible-content__inner--faq rte" itemprop="text">
                        {{ block.settings.text }}
                      </div>
                    </div>
                  </div>
       
            </div>
          {%- endfor -%}
        {%- endif -%}
        </div>
      </div>  

  </div>

  {% schema %}
    {
      "name": "Direct to boot FAQs",
      "settings": [
      {
        "type": "checkbox",
        "id": "background-color",
        "label": "Section background color"
      },                  
      
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "FAQs"
        }
      ],
      "blocks": [
        
        {
          "type": "question",
          "name": "Question",
          "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Question",
              "default": "Frequently asked question"
            },
            {
              "type": "richtext",
              "id": "text",
              "label": "Text",
              "default": "<p>Use this text to answer questions in as much detail as possible for your customers.</p>"
            }
          ]
        }
      ]
      
    }
  {% endschema %}
  